<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/eclipse16.gif"
            id="com.gesila.test.guard.navigator.ui.views.GesilaTestGuardCommonNavigator"
            name="TestGuard Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.gesila.test.guard.navigator.ui.views.GesilaTestGuardCommonNavigator">
         <popupMenu
               id="com.gesila.test.guard.navigator.ui.views.GesilaTestGuardCommonNavigator#PopupMenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="com.gesila.test.guard.navigator.ui.views.GesilaTestGuardCommonNavigator">
         <includes>
            <contentExtension
                  pattern="com.gesila.test.guard.navigator.ui.views.providers.GesilaTestGuardCommonActionProvider">
            </contentExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.gesila.test.guard.navigator.ui.views.GesilaTestGuardCommonNavigator">
         <includes>
            <contentExtension
                  pattern="com.gesila.test.guard.navigator.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="com.gesila.test.guard.navigator.ui.navigatorContent"
            name="Test Guard Content"
            priority="higher">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="com.gesila.test.guard.navigator.ui.views.providers.GesilaTestGuardCommonActionProvider"
               id="com.gesila.test.guard.navigator.ui.views.providers.GesilaTestGuardCommonActionProvider">
            <enablement>
               <or>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
                  <instanceof
                        value="com.gesila.test.guard.project.models.ITestGuardProjectElement">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <commonWizard
               type="new"
               wizardId="com.gesila.test.guard.navigator.ui.wizards.GesilaTestGuardNewProjectWizard">
            <enablement></enablement>
         </commonWizard>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.gesila.test.guard.navigator.ui.wizards.GesilaTestGuardNewProjectWizard"
            icon="icons/eclipse16.gif"
            id="com.gesila.test.guard.navigator.ui.wizards.GesilaTestGuardNewProjectWizard"
            name="TestGuard Project"
            project="true">
      </wizard>
   </extension>

</plugin>
