<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.gesila.test.guard.ui.views.ServerView"
            icon="icons/sample.gif"
            id="com.gesila.test.guard.ui.views.ServerView"
            name="TestGuard Viewer"
            restorable="true">
      </view>
      <view
            class="com.gesila.test.guard.ui.views.GsilaTestGuardResponseViewPart"
            icon="icons/response.png"
            id="com.gesila.test.guard.ui.views.GsilaTestGuardResponseViewPart"
            name="TestGuard Response"
            restorable="true">
      </view>
      <view
            class="com.gesila.test.guard.ui.views.TestGuardPropertyPageBookView"
            icon="icons/direction--arrow.png"
            id="com.gesila.test.guard.ui.views.TestGuardPropertyPageBookView"
            name="TestGuard Property"
            restorable="true">
      </view>
   </extension>

</plugin>
