<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.gesila.test.guard.editor.GesilaTestGuardEditor"
            default="false"
            icon="icons/testguard.gif"
            id="com.gesila.test.guard.editor.GesilaTestGuardEditor"
            name="TestGuard">
      </editor>
   </extension>

</plugin>
